.about {
  width: 100%;
  height: 100vh;
  background-color: #e55458;
  background-image: url("data:image/svg+xml,%3Csvg width='52' height='26' viewBox='0 0 52 26' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%23993638' fill-opacity='0.35'%3E%3Cpath d='M10 10c0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6h2c0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4v2c-3.314 0-6-2.686-6-6 0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6zm25.464-1.95l8.486 8.486-1.414 1.414-8.486-8.486 1.414-1.414z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");

  @media screen and (max-width: $xs) {
    // height: 120vh;
  }

  .about-container {
    display: flex;
    flex-direction: column;
    row-gap: 40px;
    align-items: start;
    position: absolute;
    top: 140px;
    left: 85px;
    max-width: 800px;

    @media screen and (max-width: $sm) {
      left: 30px;
      top: 120px;
      max-width: 380px;
    }

    @media screen and (max-width: $xs) {
      max-width: 250px;
      top: 110px;
      left: 40px;
    }
  }

  .about-greeting {
    font-family: $font-family_2;
    font-size: 40px;
    text-align: start;
    text-transform: uppercase;
    color: #fff;
    font-weight: 600;
    line-height: normal;

    @media screen and (max-width: $sm) {
      font-size: 24px;
    }

    @media screen and (max-width: $xs) {
      font-size: 18px;
    }
  }

  .prof {
    color: #fff;
    font-family: $font-family_1;
    font-size: 22px;
    font-weight: 400;
    line-height: 115%; /* 34.5px */
    letter-spacing: 3.15px;
    text-transform: uppercase;

    @media screen and (max-width: $sm) {
      font-size: 11.4px;
    }

    @media screen and (max-width: $xs) {
      font-size: 10.4px;
      margin-top: 10px;
      letter-spacing: 2.4px;
    }
  }
}
