.about {
  width: 100%;
  height: 100vh;
  background-color: #e55458;
  background-image: url("data:image/svg+xml,%3Csvg width='52' height='26' viewBox='0 0 52 26' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%23993638' fill-opacity='0.35'%3E%3Cpath d='M10 10c0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6h2c0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4v2c-3.314 0-6-2.686-6-6 0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6zm25.464-1.95l8.486 8.486-1.414 1.414-8.486-8.486 1.414-1.414z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");

  .about-cont {
    display: flex;
    flex-direction: column;
    row-gap: 40px;
    align-items: start;
    position: absolute;
    top: 140px;
    left: 85px;
  }

  .about-content {
    display: flex;
    align-items: center;
  }

  .pfp {
    // border-radius: 200px;
    height: 200px;
    width: 200px;
    object-fit: cover;
    box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.25);
  }

  .about-greeting {
    font-family: $font-family_2;
    font-size: 40px;
    text-align: start;
    text-transform: uppercase;
    color: #fea610;
    font-weight: 600;
    line-height: normal;
    // position: absolute;
    // top: 116px;
    // left: 353px;
    // margin-bottom: 10px;
  }

  .prof {
    color: #fff;
    font-family: $font-family_1;
    font-size: 22px;
    font-weight: 400;
    line-height: 115%; /* 34.5px */
    letter-spacing: 3.15px;
    text-transform: uppercase;
    // position: absolute;
    // top: 278px;
    // font-size: 22px;
    // font-weight: 400;
    // color: $black_2;
    // line-height: 30px;
    // margin: 0 auto;
    // margin-bottom: 50px;
  }
}

form {
  min-width: 600px;
  // text-align: center;
  // margin: 20px auto;

  input,
  textarea {
    border: 0;
    outline: 0;
    padding: 10px;
    border-radius: 20px;
    color: #fff;
    display: block;
    width: 100%;
    // margin-top: 10px;
    background: rgba(255, 255, 255, 0.411);
    font-family: $font-family_1;
    box-shadow: (0 1px 1px rgba(black, 0.1));
    resize: none;

    &::placeholder {
      color: #fff;
    }
  }

  #input-submit {
    width: 150px;
    margin-top: 1rem;
    border-radius: 30px;
  }

  textarea {
    height: 150px;
  }
}

.half {
  float: left;
  width: 48%;
  margin-bottom: 1em;
}

.right {
  width: 50%;
}

.left {
  margin-right: 2%;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  gap: 10px;
}

@media (max-width: 480px) {
  .half {
    width: 100%;
    float: none;
    margin-bottom: 0;
  }
}

/* Clearfix */
.cf:before,
.cf:after {
  content: " "; /* 1 */
  display: table; /* 2 */
}

.cf:after {
  clear: both;
}
