$black: #000;
$black_2: #303030;
$white: #fff;
$orange: #ffb731;
$font-family_1: "League Spartan", sans-serif;
$font-family_2: "Poppins", sans-serif;
$background-grey: #eeeeee;
$pattern: "https://portfolio-bckt.s3.ap-south-1.amazonaws.com/interlaced.png";

$xs: 480px;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;

.hero {
  width: 100%;
  height: 100vh;
  background-color: #e55458;
  background-image: url("data:image/svg+xml,%3Csvg width='52' height='26' viewBox='0 0 52 26' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%23993638' fill-opacity='0.35'%3E%3Cpath d='M10 10c0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6h2c0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4v2c-3.314 0-6-2.686-6-6 0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6zm25.464-1.95l8.486 8.486-1.414 1.414-8.486-8.486 1.414-1.414z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");

  .hero-cont {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 102px;
    left: 85px;

    @media screen and (max-width: $sm) {
      left: 50px;
      top: 120px;
    }

    @media screen and (max-width: $xs) {
      left: 35px;
      top: 60px;
    }
  }

  .hero-content {
    display: flex;
    align-items: center;

    @media screen and (max-width: $xs) {
      flex-direction: column;
      align-items: flex-start;
      row-gap: 30px;
    }
  }

  .hero-btns {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    // justify-content: flex-end;
    row-gap: 18px;
    // column-gap: 18px;
    margin-top: 30px;

    @media screen and (max-width: $sm) {
      flex-direction: row;
      margin-top: 50px;
      column-gap: 20px;
      justify-content: flex-start;
    }

    @media screen and (max-width: $xs) {
      flex-direction: column;
      margin-top: 15px;
      row-gap: 20px;
      justify-content: flex-start;
    }
  }

  .pfp {
    // border-radius: 200px;
    height: 200px;
    width: 200px;
    object-fit: cover;
    box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.25);

    @media screen and (max-width: $sm) {
      height: 150px;
      width: 150px;
    }

    @media screen and (max-width: $xs) {
      height: 100px;
      width: 100px;
    }
  }

  .greeting {
    font-family: $font-family_1;
    font-size: 70px;
    text-align: start;
    text-transform: uppercase;
    color: #fff;
    font-weight: 600;
    line-height: normal;

    @media screen and (max-width: $sm) {
      font-size: 40px;
    }

    @media screen and (max-width: $xs) {
      font-size: 28px;
    }
  }

  .greeting1 {
    color: #fea610;
  }
  .prof {
    color: #fff;
    font-family: $font-family_1;
    font-size: 22px;
    font-weight: 400;
    line-height: 115%; /* 34.5px */
    letter-spacing: 3.15px;
    text-transform: uppercase;

    @media screen and (max-width: $sm) {
      font-size: 17px;
    }

    @media screen and (max-width: $xs) {
      font-size: 12px;
    }
  }

  .prof1 {
    color: #fff;
    font-family: League Spartan;
    font-size: 33px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: lowercase;

    @media screen and (max-width: $sm) {
      font-size: 20px;
    }

    @media screen and (max-width: $xs) {
      font-size: 15px;
    }
  }

  .prof2 {
    color: #fea610;
    font-family: League Spartan;
    font-size: 38px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;

    @media screen and (max-width: $sm) {
      font-size: 24px;
    }

    @media screen and (max-width: $xs) {
      font-size: 20px;
    }
  }
}

.intro-img {
  margin-right: 68px;

  @media screen and (max-width: $sm) {
    margin-right: 40px;
  }
}

.intro-text {
  // padding-top: 220px;
  // position: absolute;
  // top: 113px;
  // left: 353px;
  text-align: start;
  display: flex;
  flex-direction: column;
  // align-items: center;
}

.button {
  padding: 14px 34px;
  font-family: $font-family_2;
  letter-spacing: 1px;
  margin: 0;
  font-size: 16px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 600;
  cursor: pointer;
  display: inline-block;
  color: $white;
  border: 3px solid $white;
  // background-color: #fea610;
  background-size: 500px;
  background-repeat: no-repeat;
  background-position: 0%;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;

  &:hover {
    background-position: 100%;
    color: $white;

    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    -moz-box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }

  @media screen and (max-width: $sm) {
    padding: 10px 15px;
    font-size: 12px;
  }

  @media screen and (max-width: $xs) {
    padding: 7px 12px;
    font-size: 10px;
    font-weight: 500;
    border: 2px solid $white;
  }
}

.button-2 {
  color: $orange;
  border: 3px solid $orange;
  background-size: 500px;
  background-repeat: no-repeat;
  background-position: 0%;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;

  &:hover {
    background-position: 100%;
    color: $orange;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    -moz-box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }
}
