$black: #000;
$black_2: #303030;
$white: #fff;
$orange: #ff9933;
$font-family_1: "League Spartan", sans-serif;
$font-family_2: "Poppins", sans-serif;
$background-grey: #eeeeee;

.active {
  height: 4rem;
  width: 100%;
  position: fixed;
  top: 0px;
  transition: 0.3s linear;
  // display: flex;
  // justify-content: stretch;
  // align-items: center;
  // background-color: #ffffff;
  // border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  // z-index: 40;
  // box-shadow: 0 2px 5px -1px rgba(0, 0, 0, 0.08);
  /* padding: 0 7%; */
}
.hidden {
  // height: 4rem;
  // width: 100%;
  z-index: 40;
  position: fixed;
  top: -80px;
  transition: 0.3s linear;
}

.bg {
  background-color: #e55458;
  background-image: url("data:image/svg+xml,%3Csvg width='52' height='26' viewBox='0 0 52 26' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%23ffffff' fill-opacity='0.28'%3E%3Cpath d='M10 10c0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6h2c0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4v2c-3.314 0-6-2.686-6-6 0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6zm25.464-1.95l8.486 8.486-1.414 1.414-8.486-8.486 1.414-1.414z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.nav-cont {
  display: flex;
  align-items: center;
  justify-content: center;
}
.navbar-brand {
  display: flex;
  flex-direction: column;
}

.navbar-name {
  color: $white;
  text-shadow: none;
  font-family: $font-family_1;
  font-weight: 600;
  font-size: 30px;
  text-transform: uppercase;
  letter-spacing: 3px;
  margin: 0;
  text-decoration: none;

  @media screen and (max-width: $sm) {
    font-size: 22px;
  }

  @media screen and (max-width: $xs) {
    font-size: 15px;
  }
}
.navbar-dsgn {
  letter-spacing: 5.7px;
  font-size: 12px;
  font-family: $font-family_1;
  text-transform: uppercase;
  color: $white;
  margin: 0;
  text-align: center;

  @media screen and (max-width: $sm) {
    font-size: 10px;
    letter-spacing: 4.1px;
  }

  @media screen and (max-width: $xs) {
    font-size: 6px;
    letter-spacing: 3.8px;
  }
}
.nav-link {
  color: $white;
  text-shadow: none;
  font-family: $font-family_2;
  font-weight: 600;
  font-size: 17px;
  text-transform: uppercase;

  @media screen and (max-width: $sm) {
    font-size: 15px;
    font-weight: 500;
  }

  @media screen and (max-width: $xs) {
    font-size: 15px;
    font-weight: 500;
  }
}
#navbar1 {
  display: flex;
  justify-content: flex-end;
}
.nav-item {
  padding: 5px 10px;
}
.logo {
  width: 50px;
  margin-right: 20px;
}
