@import "./Hero.scss";
@import "./Nav.scss";
@import "./Work.scss";

$black: #000;
$black_2: #303030;
$white: #fff;
$font-family_1: "Noto sans", sans-serif;
$font-family_2: "Raleway", sans-serif;
$background-grey: #eeeeee;

// *,
// html {
//   background: $background-grey;
// }

/* Hero */
/* .overlay {
  background: rgba(255, 255, 255, 0.356);
  height: 100vh;
} */
/* .hero h1,
.hero p {
  color: #000000;
} */
/* .coffee-logo {
  width: 95px;
  height: 95px;
  padding-bottom: 20px;
} */
