/* #menu {
  padding: 15px;
  transition: all 0.8s;
  justify-content: center;
}
#menu.navbar-default {
  background-color: #fff;
  border-color: rgb(231, 231, 231);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
}
#menu a.navbar-brand {
  font-family: "Raleway", sans-serif;
  font-size: 24px;
  font-weight: 700;
  color: #333;
  text-transform: uppercase;
}
#menu.navbar-default .navbar-nav > li > a {
  font-family: "Lato", sans-serif;
  text-transform: uppercase;
  color: #555;
  text-decoration: none;
  font-size: 15px;
  font-weight: 500;
  padding: 10px 2px;
  border-radius: 0;
  margin: 9px 20px 0;
} */

.container {
  /* flex-direction: column; */
}

.nav-cont {
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar-brand,
.nav-link {
  color: #000000;
  text-shadow: none;
  font-family: "Noto sans", sans-serif;
}

.navbar-brand {
  font-size: 30px;
  text-transform: uppercase;
  /* font-weight: 600; */
  letter-spacing: 3px;
  /* font-family: "Raleway", sans-serif; */
  margin: 0;
}

#navbar1 {
  display: flex;
  justify-content: flex-end;
}

.nav-link {
  font-size: 15px;
  text-transform: uppercase;
  /* color: #ffffff; */
}

.nav-item {
  padding: 5px 10px;
}

.logo {
  width: 50px;
  margin-right: 20px;
}

/* Hero */

.hero {
  /* background: url(../img/theadguy2.jpg) center center no-repeat; */
  width: 100%;
  height: 100vh;
  background-color: #eeeeee;
  /* background-size: cover; */
  /* box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.2); */
}

/* .overlay {
  background: rgba(255, 255, 255, 0.356);
  height: 100vh;
} */

.intro-text {
  padding-top: 220px;
  /* padding-bottom: 200px; */
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* .hero h1,
.hero p {
  color: #000000;
} */

.hero h1 {
  font-family: "Raleway", sans-serif;
  font-size: 70px;
  font-weight: 700;
  color: #000;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 10px;
}

/* .coffee-logo {
  width: 95px;
  height: 95px;
  padding-bottom: 20px;
} */

.hero p {
  font-size: 22px;
  font-weight: 400;
  color: #303030;
  line-height: 30px;
  margin: 0 auto;
  margin-bottom: 50px;
}

.btn-custom {
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  color: #fff;
  background: rgb(253, 98, 15);
  background: linear-gradient(
    171deg,
    rgba(253, 98, 15, 1) 8%,
    rgba(253, 165, 15, 1) 56%
  );
  /* background-color: #5ca9fb;
  background-image: linear-gradient(to right, #5ca9fb 0%, #6372ff 100%); */
  padding: 14px 34px;
  letter-spacing: 1px;
  margin: 0;
  font-size: 15px;
  font-weight: 500;
  border-radius: 25px;
  transition: all 0.2s linear 0s;
  border: 0;
}

/* #menu.navbar-default .navbar-nav > li > a:after {
  display: block;
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 0;
  height: 2px;
  background: linear-gradient(to right, #6372ff 0%, #5ca9fb 100%);
  content: "";
  transition: width 0.2s;
}
#menu.navbar-default .navbar-nav > li > a:hover:after {
  width: 100%;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  background-color: transparent;
}
.navbar-default .navbar-nav > .active > a:after,
.navbar-default .navbar-nav > .active > a:hover:after,
.navbar-default .navbar-nav > .active > a:focus:after {
  display: block !important;
  position: absolute !important;
  left: 0 !important;
  bottom: -1px !important;
  width: 100% !important;
  height: 2px !important;
  background: linear-gradient(to right, #6372ff 0%, #5ca9fb 100%) !important;
  content: "" !important;
  transition: width 0.2s !important;
}
.navbar-toggle {
  border-radius: 0;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #fff;
  border-color: #608dfd;
}
.navbar-default .navbar-toggle:hover > .icon-bar {
  background-color: #608dfd;
} */
