$black: #000;
$black_2: #303030;
$white: #fff;
$orange: #ffb731;
$font-family_1: "Noto sans", sans-serif;
$font-family_2: "Raleway", sans-serif;
$background-grey: #eeeeee;

$defaultDuration: 0.3s;
$primaryColour: #ececec;
$secondaryColour: #666;
$shadowColour: rgba(0, 0, 0, 0.6);

.hero {
  width: 100%;
  height: 100vh;
  background-color: $background-grey;
  h1 {
    font-family: $font-family_2;
    font-size: 70px;
    font-weight: 700;
    color: $black;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 10px;
  }
  p {
    font-size: 22px;
    font-weight: 400;
    color: $black_2;
    line-height: 30px;
    margin: 0 auto;
    margin-bottom: 50px;
  }
}
.intro-text {
  padding-top: 220px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
// .btn-custom {
//   font-family: $font-family_2;
//   text-transform: uppercase;
//   color: $white;
//   background: #fd620f;
//   background: linear-gradient(
//     171deg,
//     rgba(253, 98, 15, 1) 8%,
//     rgb(253, 165, 15) 56%
//   );
//   padding: 14px 34px;
//   letter-spacing: 1px;
//   margin: 0;
//   font-size: 15px;
//   font-weight: 500;
//   border-radius: 25px;
//   transition: all 0.2s linear 0s;
//   border: 0;
// }

.button {
  //   width: 170px;
  //   padding-top: 30px;
  //   padding-bottom: 30px;
  //   margin-left: 30px;
  //   margin-bottom: 30px;
  padding: 14px 34px;
  font-family: $font-family_2;
  letter-spacing: 1px;
  margin: 0;
  font-size: 15px;
  border-radius: 30px;
  text-align: center;
  color: $black;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 600;
  cursor: pointer;
  display: inline-block;
}

.button-2 {
  color: $orange;
  border: 3px solid $orange;

  // COLOR SWIPE
  //   background-image: -webkit-linear-gradient(
  //     30deg,
  //     $orange 50%,
  //     transparent 50%
  //   );
  //   background-image: linear-gradient(30deg, $orange 50%, transparent 50%);
  background-size: 500px;
  background-repeat: no-repeat;
  background-position: 0%;

  // COLOR SWIPE
  //   -webkit-transition: all 300ms ease-in-out;
  //   transition: all 300ms ease-in-out;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
.button-2:hover {
  background-position: 100%;
  //   border: 3px solid $orange;
  color: $orange;
  //   -webkit-box-shadow: 0px 0px 45px -14px rgba(0, 0, 0, 1);
  //   -moz-box-shadow: 0px 0px 45px -14px rgba(0, 0, 0, 1);
  //   box-shadow: 0px 0px 45px -14px rgba(0, 0, 0, 1);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  -moz-box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
